@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI";
  background-image: url("/wallpapers/bloom_light.jpg");
  background-position: center;
  background-size: cover;
}
